
h1 {
	margin: 1px -1px 1px 0.5px;
	font-size: 40px;
	font-family: "LeviReBrushed";
	font-style: normal;
	text-align: left;
	background-color: #2D6472;
	}


aside {
    margin: 0.5px -1px 100px 1px;
    border-left: 5px solid orange;
    background-color: #2D6472;
}

h2 {
	margin: 0.5px -1px 100px 10px;
	font-size: 15px;
	font-family: "Beauty and the Beast";
	font-style: normal;
	text-align: left;
}
